
@import url("./standart-css/standart.css");


/*-------------header part*/

#header {
    position: absolute;
    top: 0;
}

.navigation {
    background-color: var(--pink);
    padding: .8rem;
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
}

.nav-a, .logo {
    padding: .8rem 1.8rem;
    border-radius: 5rem;
    color: var(--black);
    transition-duration: .3s;
}

.logo {
    font-weight: bolder;
}

.nav-a:hover, .logo:hover {
    background-color: var(--white);
    color: var(--blue);
    box-shadow: 0 0 .5rem .3rem var(--blue);
}

.nav-a:active, .logo:active {
    background-color: var(--black);
    color: var(--mint);
    box-shadow: 0 0 .5rem .3rem var(--mint);
}

.nav-ul {
    display: flex;
    margin: 0;
    padding: 0;
    align-self: center;
}

 .nav-li {
    margin: 0 .2rem;
 }

 .nav-li-bar {
    display: none;
 }

 /*-------------- show case*/

 #show-case {
    background: linear-gradient(to bottom right,#4f5bd566, #962fbf66, #d6297666, #fa7e1e66, #feda7566), url('./img/bg-1.jpeg');
    background-position: top center;
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    display: flex;
    background-attachment: fixed;
}

.show-case-bedge {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 1rem 2rem;
    border-radius: 1rem;
    text-align: center;
    background-color: var(--blackop);
}

.show-case-bedge {
    color: var(--white);
}

/*------------------- how it works part*/

.how-it-work {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.inner-class {
    display: flex;
    flex-direction: row;
    text-align: center;
    padding: 0 12.5%;
}
.col-3 {
    display: flex;
    flex-direction: column;
    width: 33.3%;
    padding: 2rem;
}

.fa-face-smile, .fa-buffer, .fa-right-to-bracket {
    color: var(--pink);
}

/*------------------------ media quary part*/

@media (max-width:567px) {
    .row {
        margin: 4.8rem 0;
    }

    body {
        font-size: 1.4rem;
    }

    .nav-li-bar {
        display: block;
     }

     .nav-li {
        display: none;
     }

     /*------------------ show case part*/

     #show-case {
        height: 30vh;
    }

    /*------------- inner class*/

    .inner-class {
        flex-direction: column;
    }

    .col-3 {
        width: 100%;
    }
}