
@import url("./standart-css/standart.css");


/*-------------header part*/

#header {
    position: absolute;
    top: 0;
    z-index: 1;
}

.navigation {
    background-color: var(--pink);
    padding: .8rem;
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
}

.nav-a, .logo {
    padding: .8rem 1.8rem;
    border-radius: 5rem;
    color: var(--black);
    transition-duration: .3s;
}

.logo {
    font-weight: bolder;
}

.nav-a:hover, .logo:hover {
    background-color: var(--white);
    color: var(--blue);
    box-shadow: 0 0 .5rem .3rem var(--blue);
}

.nav-a:active, .logo:active {
    background-color: var(--black);
    color: var(--mint);
    box-shadow: 0 0 .5rem .3rem var(--mint);
}

.nav-ul {
    display: flex;
    margin: 0;
    padding: 0;
    align-self: center;
}

 .nav-li {
    margin: 0 .2rem;
 }

 .nav-li-bar {
    display: none;
 }

 /*-------------- show case*/

 #show-case {
    background: linear-gradient(to bottom right,#4f5bd566, #962fbf66, #d6297666, #fa7e1e66, #feda7566), url('./img/bg-1.jpeg');
    background-position: top center;
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    display: flex;
    background-attachment: fixed;
}

.show-case-bedge {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 1.5rem 2rem;
    border-radius: 1rem;
    text-align: center;
    background-color: var(--blackop);
}

.bedge {
    margin: 0;
    color: var(--white);
}

/*------------------- how it works part*/

.how-it-work {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 2rem;
}

.col-3 {
    display: flex;
    flex-direction: column;
    width: 33.3%;
    padding: 2rem;
}

.fa-face-smile, .fa-buffer, .fa-right-to-bracket {
    color: var(--pink);
}

/*-------------------------- feature part*/
#feature {
    display: flex;
    flex-direction: row;
}

.left {
    background: linear-gradient(to bottom right,#4f5bd566, #962fbf66, #d6297666, #fa7e1e66, #feda7566), url('img/features.jpeg');
    background-position: top center;
    background-size: cover;
    height: 55vh;
}

.right {
    background-color: var(--orange);
    display: flex;
    flex-direction: column;
    padding: 4rem;
    height: 55vh;
}

/*------------------ plan part*/

#plan {
    display: flex;
    flex-direction: column;
    text-align: center
}

#plan .inner-class ul {
    padding: 0;
}

.inner-col {
    background-color: var(--orange);
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0 0 .2rem .2rem var(--gray);
    transition-duration: .2s;
}

.inner-col:hover {
    cursor: pointer;
    box-shadow: 0 0 .4rem .4rem var(--gray);
}

.rec {
    position: relative;
    top: -2.5rem;
    background: linear-gradient(to right bottom, #00000099, #00000099), url('img/gettyimages.jpg');
    background-position: center;
    background-size: cover;
    color: var(--white);
}

/*------------------------- counter part*/

#counter {
    background: linear-gradient(to bottom, #FE7A36, #fff);
}

/*--------------------- movie card part*/

#movie-card {
    text-align: center;
}

.inner-card {
    border-radius: 1rem;
    box-shadow: 0 0 .2rem .2rem var(--blackop);
}

.inner-card img {
    width: 100%;
    border-radius: 1rem 1rem 0 0;
    height: 25rem;
}

.card-body {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 1rem;
}

.card-body h1{
    margin: 0;
}

.inner-card button {
    margin: 1rem 0;
}

.pos {
    cursor: pointer;
    position: relative;
    top: 0;
    transition-duration: .2s;
}

.pos:hover {
    position: relative;
    top: -2.5rem;
}

/*------------------------ footer part*/

#footer {
    display: flex;
    background-color: var(--pink);
}

.dis {
    display: flex;
    justify-content: center;
    align-items: center;
}

.links, .so-media {
    display: flex;
    margin: 1rem 0;
    padding: 0;
}

.links li, .so-media li{
    padding: 0 1rem;
}

.fa-facebook {
    color: var(--blue);
}

.fa-instagram {
    background: linear-gradient(to bottom right,#4f5bd5, #962fbf, #d62976, #fa7e1e, #feda75);
    color: var(--white);
}

.fa-twitter {
    color: #1DA1F2;
}

.fa-youtube {
    color: #CD201F;
}

.fab {
    font-size: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    background-color: var(--white);
}


/*------------------------ media quary part*/

@media (max-width:567px) {
    .row {
        margin: 4.8rem 0;
    }

    body {
        font-size: 1.5rem;
    }

    .nav-li-bar {
        display: block;
     }

     .nav-li {
        display: none;
     }

     /*------------------ show case part*/

     #show-case {
        height: 30vh;
    }

    /*------------- how it works part*/

    .inner-class {
        flex-direction: column;
    }

    .col-3 {
        width: 100%;
    }

    /*--------------- feature part*/

    #feature {
        flex-direction: column;
    }

    .col-2 {
        width: 100%;
    }

    .right {
        padding: 2rem;
    }

    .btn {
        margin-right: auto;
    }

    /*------------------------- plan part*/

    .rec {
        position: static;
    }

    /*----------------------footer part*/

    #footer {
        flex-direction: column;
    }
}